<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" 
                   type="Morph.Forms.Pipelines.RenderRendering.AddScriptsForMvcFormRendering"/>
      </mvc.renderRendering>

    </pipelines>

  </sitecore>
</configuration>
